a {
  text-decoration: none!important;
}

.layout-top-nav .content-wrapper, .layout-top-nav .main-footer {
  margin-left: 230px;
}

@media (max-width: 767px) {
  .layout-top-nav .content-wrapper, .layout-top-nav .main-footer {
    margin-left: 0;
  }
}